<%- include("head")  %>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title -pb5">
                <h2 class="font-weight-bold">LOGIN SYSTEM</h2>
                <span>Log in for existing user</span>
                <% if(locals.logout){  %>
                    <div class="alter alert-success text-center">
                        <%=logout %>
                    </div>
                <% } %>
            </div>
            <form action="/route/login" method="post" class="pt-3">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                    
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <small class="form-text text-muted text-left"><a href="/register">Register</a></small>
                </div>
                <button type="submit" class="btn btn-success rounded-pl">Submit</button>
            </form>
        </div>
    </div>

<%- include("footer")  %>
